@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;600;700&display=swap');

body {
  font-family: 'Sora', sans-serif;
  background-color: #F7F7F7;
}

#root {
  margin: 0 auto;
}


