@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-y: scroll;
}

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;600;700&display=swap');

body {
  font-family: 'Sora', sans-serif;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


